/* Include theming for Angular Material with `mat.theme()`. */
/* This Sass mixin will define CSS variables that are used for styling components according to the Material 3 design spec. */
/* Learn more about theming and how to use it for your application's custom components at https://material.angular.dev/guide/theming */

/* Default the application to a light color theme. 
   This can be changed to `dark` to enable the dark color theme, 
   or to `light dark` to respect the user's system settings. */

/* Set a default background, font and text colors for the application 
   using Angular Material's system-level CSS variables. 
   Learn more about these variables at https://material.angular.dev/guide/system-variables */

/* Reset the user agent margin. */
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/* Add additional global styles below as needed */
